body {
  font-family: "Verdana";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
}
.nav__logo {
  text-decoration: none;
  color: #335576;
  margin-left: 6.25rem;
}
.nav__link-container {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}
.nav__link-container-list {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.nav__links {
  text-decoration: none;
  color: #000000;
  margin: 0.625rem;
}
.nav__links--active {
  border-bottom: 3px solid #DB7A4E;
  color: #000000;
  text-decoration: none;
  margin: 0.625rem;
  padding-bottom: 10px;
}

.footer {
  background-color: #FEFAF5;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.footer__section {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
}
.footer__sub-section {
  display: flex;
  align-self: baseline;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1.25rem;
}
.footer__title-header {
  color: #335576;
  font-size: 1.5625rem;
}
.footer__sub-header {
  color: #DB7A4E;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 2.0625rem;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
.footer__copy {
  color: #335576;
}
.footer__icons {
  display: flex;
  max-height: 1.875rem;
  justify-content: space-evenly;
}
.footer__divider1 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}
.footer__divider2 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.destination {
  margin-top: 4.3125rem;
}
.destination--hawaii {
  background-image: url(../Images/hawaii.jpg);
  height: 43.75rem;
  background-position: center;
  background-size: cover;
}
.destination--iceland {
  background-image: url(../Images/iceland.jpg);
  height: 43.75rem;
  background-position: center;
  background-size: cover;
}
.destination--greece {
  background-image: url(../Images/greece.jpg);
  height: 43.75rem;
  background-position: center;
  background-size: cover;
}
.destination__itinerary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}
.destination__itinerary-card {
  background-color: #ffffff;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  min-width: 17.625rem;
  min-height: 23rem;
  max-height: 25rem;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.9375rem;
}
.destination__title-header {
  font-size: 5rem;
  color: #ffffff;
  padding-left: 5rem;
  padding-top: 3.75rem;
}
.destination__itinerary-card-content {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.destination__itinerary-card-content-title {
  border-bottom: 2px solid black;
  margin-top: 0;
}
.destination__itinerary-card-list {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.destination__itinerary-card-list-items {
  background-color: #FEFAF5;
  padding: 1rem;
  margin: 0.625rem;
  text-decoration: none;
}/*# sourceMappingURL=destinations.css.map */