@use './partials/global' as *;
@use './partials/brandbook' as *;

@mixin itinerary-card {
    box-shadow:  0 .25rem .25rem rgba(0, 0, 0, 0.2);     
    min-width: 17.625rem;
    min-height: 23rem;
    max-height: 25rem;
    border-radius: .3125rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .9375rem;   
}


@mixin hawaii {
    background-image: url(../Images/hawaii.jpg);
    height: 43.75rem;
    background-position: center;
    background-size: cover;
}

@mixin iceland {
    background-image: url(../Images/iceland.jpg);
    height: 43.75rem;
    background-position: center;
    background-size: cover;
}

@mixin greece {
    background-image: url(../Images/greece.jpg);
    height: 43.75rem;
    background-position: center;
    background-size: cover;
}


.destination{
    margin-top: 4.3125rem;

    &--hawaii{
        @include hawaii();
    }
        &--iceland{
            @include iceland();
        }
            &--greece{
                @include greece();
            }

                &__itinerary-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    margin-left: 7.5rem;
                    margin-right: 7.5rem;
                }

                    &__itinerary-card{
                        background-color: $background-color;
                        @include itinerary-card();
                    }

                            &__title-header{
                                font-size: 5rem;
                                color: $background-color;
                                padding-left: 5rem;
                                padding-top: 3.75rem;
                
                            }

                                &__itinerary-card-content{
                                    display: flex;
                                    flex-direction: column;
                                    align-content: center;
                        
                                }
                                    &__itinerary-card-content-title{
                                        border-bottom: 2px solid black;
                                        margin-top: 0;
                                    }

                                        &__itinerary-card-list{
                                            text-decoration: none;
                                            list-style: none;
                                            padding-left: 0;
                                            margin-top: 0;
                                            margin-bottom: 0;
                                        }
                                            &__itinerary-card-list-items{
                                                background-color: $primary-color;
                                                padding: 1rem;
                                                margin: .625rem;
                                                text-decoration: none;
                                            }
            }