// Brand Colors

$primary-color: #FEFAF5;
$secondary-color: #335576;
$tertiary-color: #DB7A4E;
$background-color: #ffffff;
$default-color: #000000;

// Brand Typography

body{
    font-family: 'Verdana';
}
