@use './brandbook' as *;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $background-color;
    position: fixed;
    top: 0;

    &__logo {
        text-decoration: none;
        color: $secondary-color;
        margin-left: 6.25rem;
    }

        &__link-container{
            display: flex;
            align-items: center;
            margin-right: 5rem;
        }

            &__link-container-list{
                list-style: none;
                display: flex;
                padding-left: 0;
            }
                &__links{
                    text-decoration: none;
                    color: $default-color;
                    margin: .625rem;
                }

                    &__links--active{
                        border-bottom: 3px solid $tertiary-color;
                        color: $default-color;
                        text-decoration: none;
                        margin: .625rem;
                        padding-bottom: 10px;
                    }
}


.footer{
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: baseline;



    &__section {
        display: flex;
        flex-direction: column;
        padding-bottom: 2.5rem;
    }
        &__sub-section{
            display: flex;
            align-self: baseline;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
            margin-top: 1.25rem;
        }

            &__title-header{
                color: $secondary-color;
                font-size: 1.5625rem;
            }

                &__sub-header{
                    color: $tertiary-color;
                    text-transform: uppercase;
                    font-size: 11px;
                    margin-bottom: 2.0625rem;
                    margin-top: 0;
                    margin-bottom: 0;
                    width: 100%;
                }

                    &__copy{
                        color: $secondary-color;

                    }
                        &__icons{
                            display: flex;
                            max-height: 1.875rem;
                            justify-content: space-evenly;
                        }

                        &__divider1{
                            margin-left: 3.75rem;
                            margin-right: 3.75rem;
                        }
                        
                        &__divider2{
                            margin-left: 2.5rem;
                            margin-right: 2.5rem;
                            
                        }
                        
}